@tailwind base;
@tailwind components;
@tailwind utilities;


.dangrek-regular {
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  #frontend_text{
    font-size: 2rem; 
  }

  #backend_text{
    font-size: 2rem;
  }

  body, html {
    overflow-x: hidden;
    max-width: 100vw;
  }
  


  .spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.layer1 {
    background-image: url('/stacked-waves-haikei-cupcake.svg');
}

.layer1-bg{
  background-color: #42c6d3;
}

.layer1-reversebg{
  background-image: url('/stacked-waves-haikei-reverse-cupcake.svg');
}

.layer1-dark {
    background-image: url('/stacked-waves-haikei-dark.svg');
}



 